body {
	background-color: #151515;
	height: 100%;
    margin: 0;
}

h1 {
	color: white;
	font-family: 'Josefin Slab', serif;
	font-weight: 600; 
}

h2, p {
	color: white;
	font-family: 'Josefin Slab', serif;
	font-weight: 400; 
}



#name {
	font-size: 4em;
	margin: 0;
	padding: 0;
}

#title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

#main {
	position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	min-height: 100%; 
	width: 80%;
	text-align: left;
	padding: 20px;
	margin: auto;
}

#main:before {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

#info {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 15px;
}

#img {
	display: inline-block;
	vertical-align: middle;

    background-image: url('chip.jpg');
    width: 500px;
    height: 500px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px #151515 inset;
}