html, body {
    height: 100%;
    margin: 0;
}
body {
	background-color: #141414;
}

h1, h2, p {
	color: white;
	font-family: 'Josefin Slab', serif;
	font-weight: 600; 
}

h2, p {
	font-weight: 400; 
}

h2 {
	font-size: 1.3em;
}

#info {
	position: absolute;
	width: 380px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 2;

	animation-name: namein;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes namein {
    0% {
    	transform: translate(-40px, -50%);
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(0px, -50%);
    }
}

#img_div {

	display: inline-block;
 	vertical-align: middle;
    
    width: 60%;
    max-width: 1020px;
    border-right: 2px solid #141414 !important;

	-webkit-box-shadow: inset 0px 0px 100px 100px #141414;
	-moz-box-shadow: inset 0px 0px 100px 100px #141414;
	box-shadow: inset 0px 0px 100px 100px #141414;

	animation-name: shadowin;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes shadowin {
    0% {
        opacity: 0;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#name {
	font-size: 4em;
	margin: 0;
	padding: 0;
}

#title {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}

#img {
	display: block;
	position: relative;
	z-index: -1;
	width: 100%;

	animation-name: imgin;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 4s;
}

@keyframes imgin {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
	min-height: 100%; 
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0;
}

.content {
	min-height: 100%; 
	height: 100%;
	width: 70%;
	padding: 20px;
	padding-bottom: 0px;
	padding-top: 0;
	margin: auto;
	margin-bottom: 0;
	max-width: 1600px
}

.center {
	position: absolute;
	text-align: right;

	height: 630px;
 	top: 50%;
  	transform: translateY(-50%);
  	width: 70%;

  	vertical-align: middle;

}

.center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}

.footer {
	position: absolute;
	margin: auto;
	bottom: 0;
	width: 70%;
	height: 50px;
	text-align: right;

	animation-name: footin;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 7s;
}

@keyframes footin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.nav {
	vertical-align: bottom;
 	position: absolute;
 	height: 80px;
 	width: 70%;
 	bottom: 50px;
	padding: 0;
}

div.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.nav li {
    display: inline;
    height: 50px;
    float: left;
    width: 100px;
    border-radius: 10px 10px 0px 0px;
    background-color: #202020;
    border: 1px solid #414141;
    margin: 0;
    margin-left: 5px;
    margin-top: 30px;
    padding: 0;
    text-align: center;
    transition: height 1s, margin-top 1s;

	animation-name: navin;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-fill-mode: both;
}

div.nav li:nth-child(1){ animation-delay: 4.5s }
div.nav li:nth-child(2){ animation-delay: 4.75s }
div.nav li:nth-child(3){ animation-delay: 5s }
div.nav li:nth-child(4){ animation-delay: 5.25s }

@keyframes navin { 
  0% { opacity:0; transform: translateY( 40px);}
  85% {opacity:1; transform: translateY( -10px);;}
  100% {transform: translateY( 0px); }
}

div.nav li:hover {
    height: 80px;
    margin-top: 0px;
}

